<nav>
  <a id="nav-logo" (click)="goHomePage()">GH</a>
  <form #f="ngForm" novalidate class="form-group" (ngSubmit)="search()">
      <input class="form-control" name="search-form" type="text" [(ngModel)]="searchValue" placeholder="Busco..." id="search-box" autocomplete="off" spellcheck="false">
      <button type="submit" id="search-button">
        <i id="filtersubmit" class="fa fa-search"></i>
      </button>
  </form>
  <div id="user-options">
      <i id="user-icon" class="fas fa-user"></i>
      <i class="fas fa-shopping-cart" id="shopping-cart-icon" [routerLink]='["/cart"]'></i>
  </div>
</nav>
