<app-nav></app-nav>
<!-- CAMBIAR
<div id="search-results-background">
  <div id="search-results-container">
      <p *ngIf="noResults;else searchProductsTemplate" id="no-results-label" >No hay productos en su carrito</p>
      <ng-template #searchProductsTemplate>
        <div *ngFor="let product of searchProducts" class="search-product">
            <div class="search-product-img-container">
                <img src="{{product.img}}" class="search-product-img">
            </div>
            <div class="shopping-cart-product-name-container">
              <p class="shopping-cart-product-name">Nombre</p>
            </div>
            <div class="shopping-cart-product-price-container">
              <p class="shopping-cart-product-price">$ {{product.price}} </p>
            </div>
          </div>
      </ng-template>
  </div>
</div>
-->
