<app-nav></app-nav>

<div id="search-results-background">
  <div id="search-results-container">
      <p *ngIf="searchProducts.length===0;else searchProductsTemplate" id="no-results-label" >No hay resultados que coincidan con tu búsqueda</p>
      <ng-template #searchProductsTemplate>
        <div *ngFor="let product of searchProducts; last as isLast" class="search-product" [ngClass]="{'noBottomBorder':isLast}">
            <div class="search-product-img-container">
                <img src="{{product.img}}" class="search-product-img" (click)="goToProduct(product._id)">
            </div>
            <div class="search-product-info-container">
              <p class="search-product-name" (click)="goToProduct(product._id)">{{product.name}}</p>
              <p class="search-product-price">{{product.price.toFixed(2)|currency}} </p>
            </div>
          </div>
      </ng-template>
  </div>
</div>

