#search-results-background{
  display: block;
  background-color: rgb(250, 250, 250);
  width: 100%;
  margin-top: 0;
  overflow: hidden;
  height: auto;
  min-height: 100vh;
  padding-bottom: 60px;
}
#no-results-label{
  text-align: center;
}
#search-results-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  margin-top: 6vh;
  background-color: #FFF;
  border-radius: 8px;
  border: 2px solid rgb(230, 230, 230);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}
.search-product{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 140px;
  border-bottom: 1px solid #DDD;
  color: rgb(0, 0, 0);
}
.search-product-img{
  height: 95%;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.search-product-img-container{
  display: block;
  height: 100%;
}
.search-product-info-container{
  display: block;
  height: 85%;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.search-product-name{
  font-size: 16px;
  font-weight: 300;
  color: #575757;
  font-family: sans-serif, serif;
  cursor: pointer;
}
.search-product-price{
  font-weight: 500;
  padding-top: 5px;
  font-size: 20px;
}
.noBottomBorder{
  border-bottom: none;
}
