<app-nav></app-nav>
<div id="product-page-background">
  <div id="product-container">
    <div id="product-main">
      <div id="img-container">
        <img id="product-image" [src]="product.img"> 
      </div>
      <div id="product-options">
        <div id="product-label">
            <h1>{{product.name}}</h1>
        </div>
        <div id="price-label">
          <p>ARS $ {{product.price}}</p>
        </div>
        <div id="stock-label">
            <p>Stock: {{product.stock}} unidades</p>
        </div>
        <div id="shipping-label">
            <p>Envío AR$ {{shippingPrice}}</p>
        </div>
        <div id="quantity-selection" class="form-group">
            Cantidad:
          <select (change)="changeQuantity($event.target.value)" id="dropdown-quantity-selector" class="form-control">
            <ng-container *ngFor="let quantityNumber of [1, 2, 3 , 4 , 5, 6 , 7 , 8 , 9]">
              <ng-container *ngIf="quantityNumber<=this.product.stock">
                <option [ngValue]="quantityNumber" [selected]="product.quantityToBuy==quantityNumber">{{quantityNumber}}</option>
              </ng-container>
            </ng-container>
          </select>
          <button type="submit" id="add-to-cart-button" (click)="addToCart(product)" [routerLink]='["/cart"]'>Agregar al carrito</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="product-desc">
        <h2>Descripción</h2>
        <br>
        <p>{{product.desc}}</p>
    </div>
  </div>
</div>
