#product-page-background{
  background-color: rgb(250, 250, 250);
  width: 100%;
  margin-top: 0;
  overflow: hidden;
  height: auto;
  min-height: 100vh;
  padding-bottom: 60px;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

#product-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 80vh;
  height: auto;
  width: 80%;
  margin-top: 6vh;
  background-color: #FFF;
  border-radius: 8px;
  border: 2px solid rgb(230, 230, 230);
  padding-top: 20px;
  padding-bottom: 20px;
}

#product-main {
  display: flex;
  flex-flow: row wrap;
}

#img-container{
  display: block;
  height: 275px;
  width: 275px;
  margin-left: 125px;
  margin-top: 65px;
}

#product-image {
  height: 250px;
  width: 250px;

}


#product-options{
  display: block;
  padding: 0;
  width: 700px;
  height: auto;
}

#product-label {
  margin-left: 45px;
  margin-top: 65px
}

#price-label {
  font-size: 35px;
  margin-left: 45px;
  margin-top: 14px;
  font-weight: 100;
  color: #8B1EAC;
}

#stock-label {
  margin-left: 45px;
  font-size: 16px;
  margin-top: 14px;
  font-weight: 300;
  color: #777;
}

#shipping-label{
  margin-left: 45px;
  font-size: 16px;
  margin-top: 14px;
  font-weight: 300;
  color: #000;
}

#quantity-selection{
  margin-left: 45px;
  font-size: 16px;
  margin-top: 14px;
  font-weight: 300;
  color: #000;
}

#dropdown-quantity-selector{
  display: inline-block;
}

#add-to-cart-button{
  margin-top: 18px;
  display: block;
  font-size: 80%;
  height: 45px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid rgb(116, 22, 145);
  border-radius: 4px;
  cursor: pointer;
  background-color: #8B1EAC;
  color: rgb(255, 255, 255);
  outline: none;
  font-weight: 1000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  font-family: sans-serif serif;
}

#add-to-cart-button:hover{
  background-color: rgb(168, 34, 209);
  -moz-box-shadow:    0px 0px 0px 1px rgb(159, 37, 196);
  -webkit-box-shadow: 0px 0px 0px 1px rgb(159, 37, 196);
  box-shadow:         0px 0px 0px 1px rgb(159, 37, 196);
  outline: none;
}
#add-to-cart-button:active{
  background-color: rgb(206, 49, 253);
  outline: none;
}

#product-desc{
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 14px;
  font-weight: 300;
  font-family: sans-serif serif;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}



@media only screen and (max-width: 1700px){
  #product-options{
    width: 900px;
  }
  #img-container{
    margin-left:105px;
  }
}

@media only screen and (max-width: 1600px){
  #product-options{
    width: 800px;
  }
  #img-container{
    margin-left:95px;
  }
}

@media only screen and (max-width: 1500px){
  #product-options{
    width: 700px;
  }
  #img-container{
    margin-left:85px;
  }
}

@media only screen and (max-width: 1400px){
  #add-to-cart-button:hover{
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    outline: none;
    transform: none;
  }
  #product-options{
    width: 600px;
  }
  #img-container{
    margin-left:75px;
  }
}
@media only screen and (max-width: 1200px){
  #product-options{
    width: 500px;
  }
  #img-container{
    margin-left:65px;
  }
}
@media only screen and (max-width: 1100px){
  #product-options{
    width: 400px;
  }
}
@media only screen and (max-width: 1050px){
  #product-options{
    width: 375px;
  }
}

@media only screen and (max-width: 900px){
  #product-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #img-container{
    margin-left: auto;
    margin-right: auto;
  }
  #product-main{
    margin-top: 0;
  }
  #product-options{
    width: 500px;
  }
}
@media only screen and (max-width: 800px){
  #product-options{
    width: 450px;
  }
  #img-container{
    height: 225px;
    width: 225px;
  }
  #product-image {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 700px){
  #product-options{
    width: 400px;
  }
}
@media only screen and (max-width: 600px){
  #img-container{
    height: 200px;
    width: 200px;
  }
  #product-image {
    height: 175px;
    width: 175px;
  }
}



